* {
	margin: 0;
	padding: 0;
}

.edit-read-btn,
.delete-all-btn {
	margin: 5px 5px 5px 0;
}

.add-btn {
	height: 46px;
	margin: 0 5px;
}

input[type="text"] {
	width: 70%;
	height: 46px;
	vertical-align: middle;
	border: 2px solid lightgray;
}

.tag-cloud-list {
	margin-left: 0;
}
.tag-cloud {
	display: inline-block;
	background-color: #999999;
	margin: 2px 3px 2px 2px;
	padding: 1px 4px 2px;
	vertical-align: baseline;
	border-radius: 3px;
	color: #fff;
	font: bold 16px/1.25 Tahoma, Arial;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.close-button {
	cursor: pointer;
}

.input-append {
	margin-bottom: 10px;
}